<%- include( "partials/header", { pageTitle: pageTitle } ) -%>
        
        <div class="container">
            <h1><%= pageTitle %></h1>
            <hr />
            <p>
                Welcome to <%= pageTitle %>. You can view a list of technical workshops happening near you.
            </p>
        </div>

<%- include( "partials/footer" ) -%>